# Supabase Configuration
VITE_SUPABASE_URL=https://kewzjsphblafnuakapam.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_tjddC77NMtW1eULdmBrmVw_N4Cz-beC

# Domain & Feature Settings
VITE_ALLOWED_EMAIL_DOMAIN=iimu.ac.in
VITE_FEATURE_ASK=false
